/* AJUSTES NO BOTAO, IMPORTANT USADOS PARA REDEFINAR AS PROPIEDADES DO BOOTSTRAP */
.btn-primary {
  background: #01aef0 !important;
  border-color: #1298cc !important;
  height: 2rem !important;
  padding: 0px 0.75rem !important;
  font-weight: bold !important;
  font-size: 0.75rem !important;
}

.form-control {
  height: 2rem !important;
}